body {
  background-image: url(pic.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
}

h3 {
  margin-top: 200px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  padding: 10px;
  background-color: rgba(230, 236, 237, 0.5);
  color: #2b312b;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #d2e6d2;
  box-shadow: 0px 0px 3px 5px #8261b6;
}